* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container {
  /* border: 4px soild red; */
  display: grid;
  height: 100vh;
  grid-template-columns: 200px auto;
  grid-template-areas: ' header header'
    'sidemenu main'
    'footer footer'
  ;
  grid-template-rows: 40px auto 40px;


}

header {
    grid-area: header;
    border: 2px solid black;
}

aside {
    border: 2px solid ;
    grid-area: sidemenu;
}
aside ul{
  border: 2px solid;
  margin-top: 100px;
  padding: 25px 5px;
  /* margin-top: 150px; */
}

aside ul li{
  padding: 10px;
  list-style: none;
}
aside ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px;
}
.fa{
  margin: 5px;
  font-size: 15px;
}
main {
   border: 2px solid;
    grid-area: main;
    /* overflow: auto; */
}

 footer {
    grid-area: footer;
    border: 2px solid black;
} 