* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px auto;
  grid-template-areas: ' sidemenu header'
    'sidemenu main'
    'sidemenu footer'
  ;
  grid-template-rows: 40px auto 40px;


}

header {
    grid-area: header;
    border: 2px solid;
}

aside {
    border: 2px solid ;
    grid-area: sidemenu;
}
aside ul{
  /* border: 2px solid; */
  margin-top: 100px;
  padding: 10px;
}
aside ul li{
  padding: 10px;
}
main {
   border: 2px solid;
    grid-area: main;
    /* overflow: auto; */
}

 footer {
    grid-area: footer;
    border: 2px solid;
} 