* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.report-container {
    border: 2px solid;
    width: 100%;
    height: 100%;
}

.report-head {
    border: 2px solid red;
    text-align: center;
    color: #012a3c;
}

.report-body {
    border: 2px solid yellow;
    height: auto;
    display: flex;
    justify-content: center;
    /* padding: 10px; */
    margin-top: 10px;
}

.reportissue-form {
    width: 350px;
    height: 480px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* padding:5px 0px; */
    display: flex;
    flex-direction: column;
}


.reportissue-form input,
.reportissue-form select {
    width: 85%;
    padding: 10px;
    border: 1px solid #012a3c;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
}


.reportissue-form button {
    padding: 10px;
    background: #0f766e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.reportissue-form button:hover {
    background: #115e59;
}


.preview {
    display: flex;
    justify-content: center;
}

.preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #0f766e;
}

/* FOR COMPLAINTS CSS */


.complaint-card {
    border: 2px solid red;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background: #fff;
    border-radius: 10px;
    height: 90px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}


.complaint-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}


.card-img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}


.compl-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.location,
.date {
    font-size: 12px;
    color: #666;
    margin: 2px 0;
}


.status {
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 12px;
    color: #fff;
    width: fit-content;
}


.pending {
    background: red;
}

.in-progress {
    background: orange;
}

.resolved {
    background: green;
}


/* DASHBOARD PAGES */
